body {
    font-family: "Fira Mono", serif;
    color: #555555;
    background-color: #f8f9fc;
    /* background-color: #3a3a3a;
          color: rgb(0, 255, 34); */
    margin: 3em;
    text-align: left;
}

::selection {
    background-color: #3a3a3a;
    color: rgb(0, 255, 34);
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media (min-width: 631px) {
    p,
    ul {
        font-size: 1.5em;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media (max-width: 630px) {
    p,
    ul {
        font-size: 0.8em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1em;
    }
}

.footer {
    margin-top: 6em;
    font-size: 1.1em;
}
